/* #region Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --proj-lightest: #ffffff;
  --proj-focus: #10ad96;
  --proj-logo: #3f3a64;
  --proj-logo-ligth: #8c89a2;
  --proj-light: #f5f7fa;
  --proj-lighter: #f8f8f8;
  --proj-shade: #f5f1ed;
  --proj-dark: #696969;
  --proj-darker: #000;
  --proj-footer-bg: #171621;
  --proj-free: #ee7455;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 65%;
  margin: 0 auto;
}

.sub-title {
  text-transform: uppercase;
  font-size: 15px;
}

.important-text {
  color: var(--proj-focus);
  font-weight: 300;
}

.bg-light {
  background-color: var(--proj-light);
}

h1 {
  font-size: 30px;
}

svg {
  fill: var(--proj-lightest);
  width: 100%;
  background-color: var(--proj-light);
}

button {
  cursor: pointer;
}

/* #endregion Common */

/* #region Header */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 5rem;

  .dropdown {
    font-size: 14px;

    a {
      padding: 0 0.8rem 0 0;
      text-decoration: none;

      i {
        font-size: 10px;
      }
    }
  }

  .logo {
    img {
      width: 200px;
    }
  }

  .utility-buttons {
    display: flex;
    align-items: center;

    .cart,
    .profile {
      font-size: 20px;
      margin: 0 1rem 0 0;
      padding: 0.8rem 0.5rem;
      color: black;
      text-decoration: none;
    }

    .cart {
      position: relative;
    }

    .cart-number {
      font-size: 10px;
      position: absolute;
      top: 0;
      right: 0;
      padding: 2px 5px;
      color: var(--proj-light);
      background-color: var(--proj-focus);
      border-radius: 50%;
    }

    .search {
      padding: 0.5rem;
      border-radius: 5px;
      background-color: var(--proj-light);

      input {
        border: none;
        background-color: var(--proj-light);
      }

      i {
        padding: 0 0.5rem;
        color: var(--proj-focus);
      }
    }

  }
}

/* #endregion Header */

/* #region Main */
.site-main {

  .jumbotron {
    position: relative;
    color: var(--proj-lighter);
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/public/img/home-3-hero-bg.jpg);
    background-size: cover;

    .jumbo-top {
      font-size: 26px;
      font-weight: bold;
    }

    .jumbo-mid {
      font-size: 45px;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 2rem;
    }

    .btn-jumbo {
      font-weight: bolder;
      padding: 1rem;
      border: none;
      border-radius: 12px;
      color: var(--proj-focus);
      background-color: var(--proj-lighter);
      transition: 0.3s;
    }

    .btn-jumbo:hover{
      color: var(--proj-lightest);
      background-color: var(--proj-focus);
    }

    .side-tools {
      position: absolute;
      right: 0;
      display: flex;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      flex-direction: column;
      background-color: var(--proj-light);

      & i {
        color: var(--proj-darker);
        padding: 0.5rem;
      }
    }
  }

  /* /jumbotron */

  .learn {
    .learn-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8rem;

      .learn-left {
        width: 400px;
        padding-right: 8rem;

        & p {
          padding-top: 1rem;
          font-size: 13px;
        }

        .learn-question {
          font-size: 13px;
          padding-top: 2rem;
        }
      }

      .learn-right {
        position: relative;

        & img {
          border-radius: 5px;
        }

        .learn-img {
          position: absolute;
          right: 0;
          bottom: -190px;
        }

        .learn-rigth-img {
          width: 170px;
          position: absolute;
          right: 0;
          margin-right: -3rem;
          top: -205px;
        }

        .shape-07 {
          width: 120px;
          position: absolute;
          right: 0;
          margin-top: -2.7rem;
          margin-right: 4rem;
          top: -160px;
        }

      }
    }

    .learn-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      .learn-number {
        color: var(--proj-focus);
        font-size: 30px;
        font-weight: bold;
      }

      .learn-bottom-center {
        padding: 5rem;
      }
    }
  }

  /* /learn */

  .upgrade {

    .upgrade-top {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .upgrade-left {
        .upgrade-img {
          width: 500px;
          position: relative;
        }

        & svg {
          transform: scale(0.5);
          position: absolute;
          width: 200px;
          left: -90px;
          top: -90px;
          fill: var(--proj-lightest);
        }

        .youtube {
          position: absolute;
          margin-left: -300px;
          margin-top: 140px;
        }

        .shape-5 {
          position: absolute;
          left: -70px;
          top: 40px;
        }

        .shape-7 {
          position: absolute;
          left: 410px;
          top: 290px;
        }

      }

      .upgrade-rigth {
        padding: 0 5rem;

        & p {
          padding: 1rem 0;
          font-size: 13px;
        }

        .guide-download {
          font-size: 13px;
          text-decoration: none;
          color: var(--proj-darker);
          font-weight: bold;
        }
      }

    }

    .upgrade-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 6rem 0 1rem;
    }

  }

  /* /upgrade */

  .online {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .carousell {
      display: flex;
      justify-content: center;
      align-items: start;

      .col {
        padding: 1rem;

        .card {
          margin: 0 auto;
          background-color: var(--proj-lightest);
          position: relative;
          border-radius: 5px;

          & img {
            width: 100%;
            object-fit: fill;
            border-radius: 5px;
          }

          .free {
            position: absolute;
            top: 0;
            right: 0;
            color: var(--proj-lightest);
            background-color: var(--proj-free);
            padding: 0.1rem 0.5rem;
            border-top-right-radius: 5px;
          }

          .card-content {
            padding: 0.5rem;

            .online-price {
              color: var(--proj-focus);
              font-weight: bold;
            }

            & p {
              font-size: 15px;
              font-weight: bold;
              transition: 0.2s;
            }

            p:hover{
              color: var(--proj-focus);
            }

            .card-bottom {
              display: flex;

              .lessons,
              .students {
                color: var(--proj-dark);
                font-size: 12px;
                padding: 1rem 1.5rem 1rem 0;
              }
            }
          }
        }
      }
    }

    .circles {
      color: var(--proj-dark);
      font-size: 10px;
      display: flex;
      align-items: center;

      & i {
        padding: 0.3rem;
      }

      .active {
        color: var(--proj-darker);
        font-size: 13px;

      }
    }

    .online-bottom {
      padding: 3rem;
      width: 600px;
      text-align: center;

      & p {
        font-size: 15px;

        & a {
          color: var(--proj-darker);
          font-weight: bold;
        }
      }
    }
  }

  /* /online */

  .testimonials {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .testimonials-left {
      padding-right: 5rem;

      & h1 {
        padding: 1rem 0;
      }

      & p {
        padding-bottom: 2rem;
        font-size: 18px;
      }

      & a {
        color: var(--proj-darker);
        font-size: 18px;
        font-weight: bold;
      }
    }

    .testimonials-right {
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .testimonials-card-back-top {
        width: 400px;
        padding: 2rem 3rem 0;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        opacity: 50%;

        .card-title {
          font-weight: bold;
        }

        .testimonial {
          display: flex;
          align-items: center;
          padding-top: 2rem;

          img {
            width: 80px;
            border-radius: 50%;
          }

          .testimonial-name {
            padding: 0 1rem;
            font-weight: bold;
            text-transform: uppercase;
          }

          .testimonial-role {
            padding: 0 1rem;
          }
        }
      }

      .testimonials-card {
        width: 550px;
        padding: 3rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        .card-title {
          font-weight: bold;
          font-size: 25px;
          padding-bottom: 1.5rem;
        }

        .t-card-text {
          font-size: 22px;
        }

        .testimonial {
          display: flex;
          align-items: center;
          padding-top: 2rem;

          img {
            width: 100px;
            border-radius: 50%;
          }

          .testimonial-name {
            padding: 0 1rem;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
          }

          .testimonial-role {
            padding: 0 1rem;
            font-size: 17px;
          }
        }

      }

      .testimonials-card-back-bottom {
        width: 400px;
        padding: 0 3rem 1.5rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        opacity: 50%;

        .card-title {
          font-weight: bold;
        }

        .testimonial {
          display: flex;
          align-items: center;

          img {
            width: 80px;
            border-radius: 50%;
          }

          .testimonial-name {
            padding: 0 1rem;
            font-weight: bold;
            text-transform: uppercase;
          }

          .testimonial-role {
            padding: 0 1rem;
          }
        }
      }

    }
  }

  /* /testimonials */

  .transform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    position: relative;

    .transform-left {
      background-image: url(/public/img/maxcoach-shape-05-150x150.png), url(/public/img/maxcoach-shape-07-150x150.png), url(/public/img/maxcoach-shape-01.png);
      background-repeat: no-repeat;
      background-position: left 20% bottom 45%, right 33% bottom 11%, left 10% bottom 0;

      & img {
        padding: 10rem 3rem 10rem 12rem;
      }
    }

    .transorm-right {
      width: 600px;
      padding-right: 15rem;

      p {
        font-size: 20px;
      }

      .transform-btn {
        padding: 1rem 3rem;
        margin-top: 2rem;
        font-size: 16px;
        font-weight: bold;
        color: var(--proj-lightest);
        background-color: var(--proj-focus);
        border-radius: 8px;
        border: none;
      }
    }
  }

  /* /transform */
  .blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem auto;
    padding: 5rem 0;

    .col {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 5rem 0;

      .card {
        padding: 1rem;

        & img {
          width: 250px;
          height: 180px;
          border-radius: 8px;
          object-fit: fill ;
        }

        .blog-role {
          text-transform: uppercase;
          font-size: 20px;
          padding: 1rem 0;
        }

        & p {
          font-weight: bold;
          font-size: 25px;
          padding-bottom: 1rem;
        }

        .blog-date,
        .blog-views {
          color: var(--proj-dark);
          opacity: 80%;
        }

        .blog-views {
          padding-left: 1rem;
        }

      }
    }
  }

  /* /blog */

  .newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 850px;
    margin-bottom: 5rem;
    background-image: url(/public/img/maxcoach-shape-02.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: bottom 0 right 0;

    p {
      font-size: 16px;
      text-align: center;
      margin: 1rem 10rem 4rem;
    }

    .newsletter-subscribe {
      input {
        border: none;
        padding: 1rem 4rem;
        font-size: 18px;
        background-color: var(--proj-light);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      button {
        border: none;
        background-color: var(--proj-focus);
        color: var(--proj-lightest);
        padding: 1rem 2rem;
        font-size: 18px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }

  /* /newsletter */
}

/* #endregion Main */

/* #region Footer */

.site-footer {
  background-color: var(--proj-footer-bg);
  color: var(--proj-lightest);
  padding-bottom: 5rem;
  position: relative;

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 5rem 0;

    & a {
      color: var(--proj-lightest);
      text-decoration: none;
    }

    .adress {
      flex-grow: 3;

      p {
        padding: 0.5rem 0;
      }

      .footer-icons {
        & i {
          padding: 0.3rem;
          font-size: 20px;
          transition: 0.3s;
        }

         i:hover{
          color: var(--proj-focus);
        }
      }
    }

    .footer-top-right {
      display: flex;
      justify-content: center;

      .explore,
      .plain,
      .info {
        display: flex;

        flex-direction: column;
        margin: 0 2.5rem;

        h3 {
          padding-bottom: 1.3rem;
        }

        a {
          padding: 0.3rem 0;
          transition: 0.2s;
        }

        a:hover{
          color: var(--proj-focus);
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
  }

  .up {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0.5rem;
    color: var(--proj-lightest);
    background-color: var(--proj-focus);
    border-radius: 50%;
  }
}

/* #endregion Footer */