/* #region Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --proj-lightest: #ffffff;
  --proj-focus: #10ad96;
  --proj-logo: #3f3a64;
  --proj-logo-ligth: #8c89a2;
  --proj-light: #f5f7fa;
  --proj-lighter: #f8f8f8;
  --proj-shade: #f5f1ed;
  --proj-dark: #696969;
  --proj-darker: #000;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 65%;
  margin: 0 auto;
}

.sub-title {
  text-transform: uppercase;
  font-size: 12px;
}

.important-text {
  color: var(--proj-focus);
  font-weight: 300;
}

/* #endregion Common */

/* #region Header */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 5rem;

  .dropdown {
    font-size: 14px;

    a {
      padding: 0 0.8rem 0 0;
      text-decoration: none;

      i {
        font-size: 10px;
      }
    }
  }

  .logo {
    img {
      width: 200px;
    }
  }

  .utility-buttons {
    display: flex;
    align-items: center;

    .cart,
    .profile {
      font-size: 20px;
      margin: 0 1rem 0 0;
      padding: 0.8rem 0.5rem;
      color: black;
      text-decoration: none;
    }

    .cart {
      position: relative;
    }

    .cart-number {
      font-size: 10px;
      position: absolute;
      top: 0;
      right: 0;
      padding: 2px 5px;
      color: var(--proj-light);
      background-color: var(--proj-focus);
      border-radius: 50%;
    }

    .search {
      padding: 0.5rem;
      border-radius: 5px;
      background-color: var(--proj-light);

      input {
        border: none;
        background-color: var(--proj-light);
      }

      i {
        padding: 0 0.5rem;
        color: var(--proj-focus);
      }
    }

  }
}

/* #endregion Header */

/* #region Main */
.site-main {

  .jumbotron {
    position: relative;
    color: var(--proj-lighter);
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/public/img/home-3-hero-bg.jpg);
    background-size: cover;

    .jumbo-top {
      font-size: 26px;
      font-weight: bold;
    }

    .jumbo-mid {
      font-size: 45px;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 2rem;
    }

    .btn-jumbo {
      font-weight: bold;
      padding: 1rem;
      border: none;
      border-radius: 12px;
      color: var(--proj-focus);
      background-color: var(--proj-lighter);
    }

    .side-tools {
      position: absolute;
      right: 0;
      display: flex;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      flex-direction: column;
      background-color: var(--proj-light);

      & i {
        color: var(--proj-darker);
        padding: 0.5rem;
      }
    }
  }

  /* /jumbotron */

  .learn {
    .learn-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8rem;

      .learn-left {
        width: 400px;
        padding-right: 8rem;

        & h3 {
          font-size: 30px;
        }

        & p {
          padding-top: 1rem;
          font-size: 13px;
        }

        .learn-question {
          font-size: 13px;
          padding-top: 2rem;
        }
      }

      .learn-right {
        position: relative;

        & img {
          border-radius: 5px;
        }

        .learn-img {
          position: absolute;
          right: 0;
          bottom: -190px;
        }

        .learn-rigth-img {
          width: 170px;
          position: absolute;
          right: 0;
          margin-right: -3rem;
          top: -205px;
        }

        .shape-07 {
          width: 120px;
          position: absolute;
          right: 0;
          margin-top: -2.7rem;
          margin-right: 4rem;
          top: -160px;
        }
        
      }
    }

    .learn-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      .learn-number {
        color: var(--proj-focus);
        font-size: 30px;
        font-weight: bold;
      }

      .learn-bottom-center {
        padding: 5rem;
      }
    }

  }

}

/* #endregion Main */